{# templates/blog/index.html.twig #}


{% extends 'default/menu.html.twig' %}

{% block title %}Inicio Web 1{% endblock %}



{% block body %}

        <h2>BODY DEL HIJO</h2>
        texto

{% endblock %}